*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F7F9;
}

.cupertino-pane-wrapper .move{
    margin: 4px auto;
    height: 5px;
    background: var(--cupertino-pane-move-background, #c0c0c0);
    width: 50px;
    border-radius: 4px;
}
.pane{
  transition:all !important;
}


.backdrop{
    background-color: transparent !important;
    display: none !important;
}
.batsman{
    position: absolute;
    top: 20px;
    left: 0;
    z-index: -1;
}
.wickets{
    position: absolute;
    right: 0px;
    top: 152px;
    z-index: -1;
}
.countdown{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}
.main-text .countdown{
    z-index: 99;
}
.countdown div h4{
    color: #EC1377;
    font-weight: bold;
}
.main-text .title{
    /* font-family: 'Gilroy'; */
    font-weight: bold;
    color: #052465;
}
.cupertino-pane.p-3{
  overflow: hidden !important;
}

.main-text p{
    color: #00030A;
}
.leaderBoard{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leaderBoard h5{
    color: #01030A;
    font-size: 17px;
}
.leaderBoard input{
  background: #F2F5F9;
  padding: 6px;
  border: 0;
  width: 37%;
  border-radius: 3px;
}
.leaderBoard input[type="date"]:focus{
    border: 0;
    outline: 0;
}

.leaderBoard input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 5px;
    background: url('../img/date.svg') no-repeat;
    cursor: pointer;
    /* background-position: right;
    background-size: auto;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0px;
    top: 2px;
    width: auto; */
}
  
  input::-webkit-datetime-edit {
    position: relative;
    left: 15px;
  }
  
  input::-webkit-datetime-edit-fields-wrapper {
    position: relative;
    left: 15px;
  }

  .form-control.search{
    height: 50px;
    padding: 6px 12px 6px 45px;
  }

  .searchBtn{
    position: absolute;
    height: 50px;
  }

  .searchBtn:focus{
    border: none;
    outline: none;
    box-shadow: none;
  }

  .user-div{
    border-radius: 10px;
    box-shadow: 1px 2px 15px #00000042;
  }

  .user-list ol li{
    color: #00030A;
    
  }

  .user-list ol li .rupee{
    color: #4C4E53;
  }

  .user-list{
    max-height: 415px;
    overflow-y: scroll;
  }

  .user-list .bgImg{
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .bottomNav{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 99;
  }

  .bottomNav button{
    height: 55px;
    width: 200px;
    background-color: #EC1377;
  }

  .modal-body h5{
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: 100;
  }
  .modal-content{
    border-radius: 20px;
    margin: 10px;
  }
  .modal-body h5.active{
    background-color: #052465;
    color: #ffffff;
    padding: 17px 20px;
    font-weight: 400;
    border-radius:7px;
    display: inline-block;
  }

  .modal-footer .mdlBtn{
    background-color: #EC1377;
    height: 50px;
    width: 200px;
    color: #ffffff;
  }
  .daily-contest .title{
    font-weight: bold;
    color: #052465;
  }

  .daily-contest p{
    color: #052465;
  }

  .daily-contest p.time{
    color: #4C4E53;
  }
/* tabs */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #EC1377;
  background-color: transparent;
  border-bottom: 2px solid #EC1377;
  border-radius: 0;
}

.nav-link{
  color: #01030A;
}

.btnTabs{
  padding: 13px 30px;
  background-color: #EC1377;
  color: #ffffff;
  font-weight: 500;
}
.btnTabs:focus{
  color: #ffffff;
  box-shadow: none;
}
/* /////// */

  @media (min-width:800px){
    .batsman{
      left: 15%;
    }
    .wickets{
      right: 18%;
      top: 15px;
    }
    .countdown{
      padding: 0 10rem;
    }
    .countdown div.text-right{
      padding-right: 6rem;
    }

  }
